In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/adityacs103/ineuron/main/pandas/AgentPerformance.csv')

In [3]:
df

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,7/1/2022,Sowmiya Sivakumar,0,0:00:00,0:00:00,0.00,0
2156,2157,7/1/2022,Nitin M,0,0:00:00,0:00:00,0.00,0
2157,2158,7/1/2022,Vivek,0,0:00:00,0:00:00,0.00,0
2158,2159,7/1/2022,Ayushi Mishra,0,0:00:00,0:00:00,0.00,0
2159,2160,7/1/2022,Chaitra K Hiremath,0,0:00:00,0:00:00,0.00,0

In [4]:
df.describe()

             SL No  Total Chats  Average Rating  Total Feedback
count  2160.000000  2160.000000     2160.000000     2160.000000
mean   1080.500000     6.814815        1.460963        4.286574
std     623.682612    11.705233        2.074763        7.412594
min       1.000000     0.000000        0.000000        0.000000
25%     540.750000     0.000000        0.000000        0.000000
50%    1080.500000     0.000000        0.000000        0.000000
75%    1620.250000    13.000000        4.120000        7.000000
max    2160.000000    97.000000        5.000000       56.000000

In [18]:
df[df['Total Chats']==max(df['Total Chats'])]

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
1027,1028,7/16/2022,Mithun S,97,0:03:11,0:02:33,3.85,52

97